@tailwind base;
@import './base.css';

@tailwind components;
@import './components.css';

@tailwind utilities;

@layer components {
    #__next {
        
    }
    html,
    body {

    }
}
.hidescroll{
    overflow-y: hidden;
    overflow-x: hidden;

}
.loaderAnimation{
    width:100px;
    height: 100px;
    animation: spinner 1s infinite linear;
}
@keyframes spinner {
    0%{
      transform: translateY(0px);
    }
    25%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(20px);
    }
    50%{
        transform: translateY(30px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  img{
    object-fit: cover;
  }

  .verticalSliderHeight{
    height:1300px ;
    /* h-[1300px] md:h-[1500px]  */
  }
  .showAllBtn{
    font-size:13px
  }
@media screen and (min-width: 370px) {
    .showAllBtn{
      font-size:13px
    }
    .verticalSliderHeight{
        height:1400px ;
        /* h-[1300px] md:h-[1500px]  */
    }
}
@media screen and (min-width: 400px) {
  .verticalSliderHeight{
      height:1500px ;
    /* h-[1300px] md:h-[1500px]  */
    }
}

@media screen and (min-width: 430px) {
  .verticalSliderHeight{
      height:1600px ;
    /* h-[1300px] md:h-[1500px]  */
    }
}

@media screen and (min-width: 460px) {
  .verticalSliderHeight{
      height:1700px ;
    /* h-[1300px] md:h-[1500px]  */
    }
}

@media screen and (min-width: 490px) {
  .verticalSliderHeight{
      height:1800px ;
    /* h-[1300px] md:h-[1500px]  */
    }
}